## Final Project Submission

Please fill out:
* Student name: Group 9 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

## Overview ##

The primary goal of the project is to build a predictive model that can estimate/predict the house prices in King County, Washington ,USA based on its features,provide valuable insights through comparative market analysis in order to facilitate informed decision making.
The target audience includes real estate analysts,real estate investors,data scientists,machine learning practioners,financial institutions,potential home buyers and potential tenants.
The dataset used is the King County House dataset accessible from [Download File](https://drive.google.com/drive/folders/1mvDwz8l4KN7X-_WszLC-WEjiQ4ZgNbNm?usp=drive_link)

## Business Problem ##

The real estate industry is constantly changing due to social, economic, and technological developments. As such, new challenges are presented each day. It is important to stay informed of these changes,create strategies that address the current issues and also have an understanding of the core principles that drive successful sales.A solid pricing strategy backed up by data and market knowledge are among the most important factors to take into consideration.Some of the challenges in the industry include;
1. Runaway inflation, high interest rates, bank stress and tightening liquidity. This, compounded by fluctuating demand as a result of inflation income effect that is constraining consumer purchasing power, is having a negative toll on investment earnings in the area.
2. The ever increasing competition which makes standing out and capturing the attention of potential leads can be a challenging endeavor. Leads can be elusive, as many people are cautious about sharing their contact information or engaging with real estate agents.
3. Pricing Properties - Setting the right price for a property from the beginning can determine whether it sells quickly and profitably or sits unsold for an extended period.This highlights the crucial importance of precise property pricing in the real estate sector.
4. Demographics - Change in demographics can have a significant impact on the real estate industry. Shifting population characteristics, such as age, income, and household composition, influence the types of properties in demand, preferred locations, and overall market trends e.g an aging population might lead to increased demand for retirement communities or homes with accessibility features.

The key stakeholders who play a vital role in the real estate industry are ; 
 - Real estate analysts - Help in providing valuable insights and analysis to support decision-making processes. 
 - Real estate investors - Individuals or institutions who invest in real estate for the purpose of generating income.
 - Real estate agents - facilitate property transactions between buyers and sellers.
 - Financial institutions - b.anks,morgage companies.
 - Potential home buyers and potential tenants - indivuduals/companies looking to buy or sell their properties.
 - Government - Regulates the real estate industry through zoning laws, building standards and other regulations.
 - Real Estate Appriasers - Determine the value of a property based on various factors,helping buyers and lenders assess its      worth.

## Data Understanding ##

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
pwd

'C:\\Users\\lenovo\\Documents\\Flatiron1\\Phase_2\\dsc-phase2-project\\Kc_house_data\\dsc-phase-2-project-v2-3'

In [4]:
#To load 'KC_house_data.csv' as a dataframe
# copy the file path to access the file since its in a different directory

KC = pd.read_csv('./data/kc_house_data.csv')
KC.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503